body, div {
	margin: 0;
	font-family: "Futura" sans;
	cursor: default;
}
#front {
    display: table-cell;
    vertical-align: middle;
}

#front.big {
    width: 132px;
    height: 92px;
	background: url(Default.png) no-repeat;
}

#front.small {
    width: 90px;
    height: 50px;
    background: url(Small.png) no-repeat;
}

.clock {
    margin: auto 0;
	text-align: center;
}
#time {
	color: #000000;
}
#time:hover {
	color: #666;
	cursor: hand;
}

.big #time {
	font-size: 18px;
}

.small #time {
    font-size: 11px;
    line-height: 11px;
}

#location {
	color: #505050;
}

.big #location {
	font-size: 12px;
}

.small #location {
  font: 9px/9px Geneva;
}

.flip {
	position: absolute;
	width: 13px;
	height:	13px;
}

.big .flip {
	top: 65px;
	left: 110px;
}

.small .flip {
    top: 24px;
    left: 66px;    
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/black_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/black_rollie.png) no-repeat top left;
	z-index:7999;

}

.doneButton {
  position: absolute;
  top: 55px;
  left: 65px;
} 

#back {
	width: 132px;
	height: 92px;
	display: table-cell;
	vertical-align: middle;
	background: url(Images/Default-back.png) no-repeat;
	display: none;
}

.label {
  position: absolute;
  font: 10px "Helvetica Neue";
  font-weight: bold;
  color:white;
  left: 9px;
}

#name-label {
  top:6px;
}

#offset-label {
  top:41px;
}

.field {
  position: absolute;
  font: 12px "LucidaGrande";
  left: 9px;
}

#nameField {
  top: 18px;
  width: 70px;
}

#offsetField {
	top: 53px;
} 

#tiny {
	position: absolute;
	top: 57px;
	left: 46px;
}	

#dstSelect {
	position: absolute;
	top: 20px;
	left: 83px;
	width: 40px;
}
